<div class="container">
    {% if all_orders %}
    <h1 class="mt-4">Current Orders</h1>
    <div class="users-table mt-4">
        <table>
            <tbody>
                <tr>
                    <th>Customer Name</th>
                    <th>Car Name</th>
                    <th>Image</th>
                    <th>Days</th>
                    <th>Rent</th>
                    <th>Capacity</th>
                    <th>Action</th>
                </tr>
                {% for order in all_orders %}
                <tr>
                    <td>{{order.user.get_full_name}}</td>
                    <td>{{order.car.name}}</td>
                    <td><img src="{{order.car.image.url}}" alt="" width="100px" height="100px"></td>
                    <td>{{order.days}}</td>
                    <td>₹ {{order.rent}}</td>
                    <td>{{order.car.capacity}}</td>
                    <td><form action = "/complete_order/" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{order.id}}">
                        <button class="btn btn-primary " type="submit">Complete</button>
                      </form></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <br>
        <h2>No Orders Right Now</h2>
        {% endif %}
    </div>
